.Home {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.About {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@font-face {
  font-family: terminalTitleText;
  src: url(./Assets/ChakraPetch-Bold.ttf);
}

@font-face {
  font-family: terminalText;
  src: url(./Assets/ChakraPetch-Regular.ttf)
}

.TitleBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 30vh;
}

.NameContainer {
  height: 20vh;
  width: 97vw;
  background-color: black;
  border: 0.2rem solid;
  border-image: linear-gradient(45deg, rgb(77, 0, 128) 0%, navy 100%) 1;
  text-align: center;
}

.Name {
  color: rgb(77, 0, 128);
  font-family: terminalTitleText;
  font-size: 5rem;
  text-shadow: navy 3px 3px
}

.Content {
  width: 100vw;
  height: 70vh;
}

.ItemContainer {
  width: 33vw;
  height: 70vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Item {
  width: 30vw;
  height: 60vh;
  border: 0.2rem solid;
  border-image: linear-gradient(in hsl, rgb(77, 0, 128) 0%, navy 100%) 1;
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
  font-size: 1.7rem;
  background-color: black;
  transition: border-image 0.5s, width 0.5s, height 0.5s, color 0.5s, font-size 0.5s;
}

.Item:hover {
  width: 32vw; 
  height: 68vh; 
  color: rgb(77, 0, 128);
  border-image: linear-gradient(in hsl, navy 0%, rgb(77, 0, 128) 100%) 1;
  transition: border-image 0.5s, width 0.5s, height 0.5s, color 0.5s;
  margin: 0px;
}


.ItemText {
  font-family: terminalText;
  font-size: 1.7rem;
}

.ItemTitle {
  font-family: terminalTitleText;
  background-clip: text;
  background-image: linear-gradient(in hsl, navy 0%, rgb(77, 0, 128) 100%);
  color: navy;
  transition: color 0.5s;
}

.Item:hover .ItemTitle {
  color: transparent;
  transition: color 0.5s;
}

.ImageContainer {
  width: 30vw;
  height: 80vh;
  border: 0.4rem solid;
  border-image: linear-gradient(in hsl, rgb(77, 0, 128) 0%, navy 100%) 1;
  position: relative;
}

#SelfPortrait {
  width: 100%;
  height: 100%;
}

.Overlay {
  width: 100%;
  height: 0%;
  background-image: linear-gradient(in hsl, rgb(77, 0, 128) 0%, navy 100%);
  position: absolute;
  overflow: hidden;
  bottom: 100%;
  left: 0;
  transition: 0.5s;
  align-items: center;
}

.ImageContainer:hover .Overlay {
  height: 100%;
  bottom: 0;
  transition: 0.5s;
}

.ImageText {
  color: white;
  font-family: terminalTitleText;
  text-align: center;
  margin-top: 60%;
}