.Home {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.About {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Projects {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: rgb(77, 0, 128) black;
}

.Project {
  height: 40vh;
  width: 85vw;
  border: 0.2rem solid rgb(77, 0, 128);
  margin-top: 3%;
  display: block;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  border-radius: 0;
  transition: 0.3s;
  text-align: center;
}

.Project:hover {
  width: 90vw; 
  height: 41vh; 
  margin-left: 5vw;
  margin-right: 5vw;
  border-image: none;
  border-color: navy;
  border-radius: 50px;
  transition: 0.3s;

}

.ProjectTitle {
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  font-family: terminalTitleText;
  margin-top: 2%;
  transition: color 0.5s;
}

.Project:hover .ProjectTitle {
  color: navy;
  transition: color 0.5s;
}

.ProjectInfo {
  font-size: 1.8rem;
  color: white;
  font-family: terminalText;
  margin: 5%;
}

@font-face {
  font-family: terminalTitleText;
  src: url(./Assets/ChakraPetch-Bold.ttf);
}

@font-face {
  font-family: terminalText;
  src: url(./Assets/ChakraPetch-Regular.ttf)
}

.TitleBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 30vh;
}

.NameContainer {
  height: 20vh;
  width: 97vw;
  background-color: black;
  border: 0.2rem solid;
  border-image: linear-gradient(45deg, rgb(77, 0, 128) 0%, navy 100%) 1;
  text-align: center;
}

.Name {
  color: rgb(77, 0, 128);
  font-family: terminalTitleText;
  font-size: 5rem;
  text-shadow: navy 3px 3px
}

.Content {
  width: 100vw;
  height: 70vh;
}

.ItemContainer {
  width: 33vw;
  height: 70vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.Item {
  width: 30vw;
  height: 60vh;
  border: 0.2rem solid;
  border-image: linear-gradient(in hsl, rgb(77, 0, 128) 0%, navy 100%) 1;
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
  font-size: 1.7rem;
  background-color: black;
  transition: border-image 0.5s, width 0.5s, height 0.5s, color 0.5s, font-size 0.5s;
}

.Item:hover {
  width: 32vw; 
  height: 68vh; 
  color: rgb(77, 0, 128);
  border-image: linear-gradient(in hsl, navy 0%, rgb(77, 0, 128) 100%) 1;
  transition: border-image 0.5s, width 0.5s, height 0.5s, color 0.5s;
  margin: 0px;
}


.ItemText {
  font-family: terminalText;
  font-size: 1.7rem;
}

.ItemTitle {
  font-family: terminalTitleText;
  background-clip: text;
  background-image: linear-gradient(in hsl, navy 0%, rgb(77, 0, 128) 100%);
  color: navy;
  transition: color 0.5s;
}

.Item:hover .ItemTitle {
  color: transparent;
  transition: color 0.5s;
}

.ImageContainer {
  width: 30vw;
  height: 80vh;
  border: 0.4rem solid;
  border-image: linear-gradient(in hsl, rgb(77, 0, 128) 0%, navy 100%) 1;
  position: relative;
}

#SelfPortrait {
  width: 100%;
  height: 100%;
}

.Overlay {
  width: 100%;
  height: 0%;
  background-image: linear-gradient(in hsl, rgb(77, 0, 128) 0%, navy 100%);
  position: absolute;
  overflow: hidden;
  bottom: 100%;
  left: 0;
  transition: 0.5s;
  align-items: center;
}

.ImageContainer:hover .Overlay {
  height: 100%;
  bottom: 0;
  transition: 0.5s;
}

.ImageText {
  color: white;
  font-family: terminalTitleText;
  text-align: center;
  margin-top: 50%;
}

.LearnMore {
  font-family: terminalTitleText;
  background-color: black;
  border: 0.2rem black solid;
  width: 40%;
  height: 10%;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  border-radius: 50px;
  transition: 0.5s;
  font-size: 1.2rem;
}

.LearnMore:hover {
  background-color: transparent;
  color: black;
  transition: 0.5s;
}

@keyframes TextContainerEntry {
  from {width: 0vw;}
  to {width: 60vw;}
}

@keyframes FadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.AboutTextContainer {
  animation: TextContainerEntry 0.5s;
  background-color: black;
  width: 60vw;
  height: 80vh;
  border: 0.2rem solid;
  border-image: linear-gradient(in hsl, navy 0%, rgb(77, 0, 128) 100%) 1;
  text-align: center;
}

.AboutText {
  opacity: 0;
  animation: FadeIn 2s 0.5s forwards;
  color: white;
  margin: 5%;
  font-size: 1.4rem;
  line-height: 3rem;
}

.BackHome {
  font-family: terminalTitleText;
  border: 0.2rem solid rgb(77, 0, 128);
  background-color: black;
  border-radius: 50px;
  width: 40%;
  height: 10%;
  color: white;
  transition: 0.5s;
  font-size: 1.2rem;
  transition: 0.4s;
}

.BackHome:hover {
  border-color: navy;
  border-style: dotted;
  width: 42%;
  height: 10%;
  transition: 0.4s;
}